/*icones  https://icons.getbootstrap.com/icons/tools/ */

:root{
	/*Roxo*/  --CorTema : #320133;
	/*branco*/--Branco:#ffffff;
	/*Roxo claro*/--CorLetRoxo:#b67fb7;
	/*Fonte PG-BotaoHome*/--Fonte-BotaoHome: 'Varela Round', sans-serif;
	/*Fonte PG-subsobre*/--Fonte-Sobre: 'Big Shoulders Display', cursive;;
	/*Fonte PG-paradescri*/--Fonte-descri:'Khula', sans-serif;
	/*Fonte PG-EmBrevePg*/--fonte-EmBreve: 'Fugaz One', cursive;
	}
/*-----------------------------------*/
/*NO GERAL*/
a:link {
  	text-decoration:none;
}
p{
 	font-family: var(--Fonte-BotaoHome);
 	font-size: 24px
}
.topMenu {
	margin-right:10%;
	margin-top:5%;
	font-size:150%; 
	color: var(--Branco);
}
.titulologo{
	color: var(--Branco);	
}
.d-flex{
	margin-right: 40%;
}
.bodyPrincipal{
	color:var(--Branco);
	background-color:var(--CorTema); 
}
.container-fluid{
	background-color:var(--CorTema);
}
.pgPadrao{
	margin-top:10%;	
}
/*-----------------------------------*/
/*PAGINA iNDEX*/
.subtitulo{
	color: var(--CorLetRoxo);	
}
.subtitulo2{
   color:var(--Branco);
   font-size:70px;
}
.buttonHome{
	color:#fff;
	background:var(--CorTema);
	border-color:var(--Branco);
	font-family: var(--Fonte-BotaoHome);
	width: 130px;
	height: 40px;
	font-size:18px
}
.buttonHome:hover{
	font-family: var(--Fonte-BotaoHome);
    background: var(--Branco);
    color: var(--CorTema);
}
.redeSociais{
	height:35px;
	width:35px;
	border-radius:15px;
	background-color:var(--CorTema);
	margin-top:10px;
	margin-left:115px;
	border-color:white;
	border-style: solid;
	border-width: 1px;
}
.redeSociais:hover{
	background-color: var(--Branco);
}
.redeSociais2{
	height:35px;
	width:35px;
	border-radius:15px;
	background-color:var(--CorTema);
	margin-top:10px;
	margin-left:100px;
	border-color:white;
	border-style: solid;
	border-width: 1px;
}
.redes{
	padding-top:38px;
}
.iconeRedes{
	margin-top:5px;
	margin-left:8px;
	text-decoration:none;
}
.iconeRedes:hover{
	color:var(--CorTema);
}
/*-----------------------------------*/
/*PAGINA SOBRE*/
.subsobre{
	font-family: var(--Fonte-Sobre);
    color: var(--CorLetRoxo);
}
.paradescri {
	font-family: var(--Fonte-descri);
    color: var(--Branco);
}
/*-----------------------------------*/
/*PAGINA CADASTRO*/
.pgCAD{
	margin-top:3%;	
}
.imgestudante{
	margin-left:30px
}
.textCAD{
	margin-top: 28px;
	margin-left: 18px;
	color:var(--Branco);
}
.iconeCAD{
	height:35px;
	width:35px;
	border-radius:15px;
	background-color:var(--CorTema);
	margin-top:10px;
	margin-left:115px;
	border-color:white;
	border-style: solid;
	border-width: 1px;
}
/*-----------------------------------*/
/*Cadastro Aluno */
.CadAluno{
	margin-top:5%;
	background-image:url("imagem/logo-estudante.jpg");
	background-repeat: no-repeat, repeat;
	background-position: center;
}
.tituloCadAluno{
	font-size: 40px;
    font-family:var(--Fonte-Sobre);
}
.inputCad1{
	opacity:0.7;
	width:400px;
}
.inputCad2{
	opacity:0.7;
	width:200px;
}
.inputCad3{
	opacity:0.7;
	width:170px;
}
.linhaCadAluno{
	margin-left: -30px;
}
.linhaCadAluno2{
	margin-left: -60px;
}
.linhaCadAluno3{
	margin-left: -120px;
}
.btn-position{
	margin-left: -145px;
}
/*-----------------------------------*/
/*Em breve page */
.bodyPrincipalEmAndamento{
	color:var(--Branco);
	background-color:var(--CorTema);
}
.subtitulo3{
	color:var(--Branco);
    font-size:70px;
    font-family:var(--fonte-EmBreve);
}
.pgEmBreve{
	margin-top:12%;		
}
.EmBrevinho{
	margin-left:31%;	
}
